{include file="heading.tpl"}
<body>
    <div class="chat_wrapper">
        <div class="message_box" id="message_box"></div>
        <div class="panel">
            <input type="text" name="name" id="name" placeholder="Your Name" style="width:20%"  />
            <input type="text" name="message" id="message" placeholder="Message" maxlength="80" style="width:60%" />
            <button id="send-btn">Send</button>
        </div>
    </div>
</body>
{include file="footing.tpl"}